.row
  .col-md-6.col-xs-12.col-md-offset-3
    center= image_tag src='/assets/logo.png'
.row
  .col-md-6.col-xs-12.col-md-offset-3
    = form_tag sessions_path  do
      = label_tag :email
      br
      = text_field_tag :email, nil, required: true, class: 'form-control'
      br
      = label_tag :password
      br
      = password_field_tag :password, nil, required: true, class: 'form-control'
      br
      = submit_tag 'Sign in', class: 'btn btn-primary'
