= form_for(@pricelist)do |f|
  .row
    .col-md-6.col-xs-12
      = f.label :name
      br
      = f.text_field :name, required: true, class: 'form-control pricelist-input'
    .col-md-6.col-xs-12
      = f.label :recipient
      br
      = f.text_field :recipient, required: true, class: 'form-control pricelist-input'
  .row
  br
  = f.nested_fields_for :positions do |builder|
    = render 'position', f: builder
  = f.add_nested_fields_link :positions
  br
    = link_to 'Back', pricelists_path, class:  'btn btn-primary'
    = f.submit class: 'btn btn-success'
