.row
  .col-md-6.col-xs-6
    = f.label :name
    br
    = f.select :name, options_for_select(Item.all.collect {|p| [ p.name] }), {}, class: "form-control"
  .col-md-3.col-xs-3
    = f.label :price
    br
    .input-group
      = f.text_field :price,  class: 'form-control'
      span.input-group-addon грн
  .col-md-2.col-xs-2
    = f.label :count
    br
    = f.text_field :count, type: 'number', min: 1, class: 'form-control'
  .col-md-1.col-xs-1
    p Delete:
    = f.check_box :_destroy
