.row
  h1 Listing pricelists
  p= link_to 'New pricelist', new_pricelist_path, class: 'btn btn-success pricelist-newactive'
.row
  - @pricelists.each do |pricelist|
    .col-md-3.col-xs-6
      h1= link_to pricelist.name, pricelist_path(pricelist)
      p= image_tag src='/assets/pricelist.png', class: 'pricelist-logo'
      .btn.btn-group
        = link_to 'Edit', edit_pricelist_path(pricelist), class: "label label-warning"
        = link_to 'Destroy', pricelist_path(pricelist),class: "label label-danger", method: :delete, data: { confirm: 'Are you sure?' }
