.row
  center
    h1= @pricelist.name
    p= @pricelist.recipient
  .col-md-8.col-xs-12.col-md-offset-2
    table.table.table-hover
      thead
        tr
          th Position
          th Price (UAH)
          th Count
          th Sum (UAH)
      - @pricelist.positions.each do |position|
        tbody
          tr id='position-<%= position.id%>'
            td= position.name
            td= position.price
            td= position.count
            td= position.proz
      tr
        td
          h3 Total:
        td
        td
        td
          h3= @pricelist.positions.sum(&:proz)
    = link_to 'Edit', edit_pricelist_path(@pricelist), class: 'btn btn-warning'
    = link_to 'Back', pricelists_path, class: 'btn btn-primary'
  