nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed data-target='#bs-example-navbar-collapse-2' data-toggle='collapse' type='button'
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand
        = image_tag src='/assets/logo.png', class: 'header-logo'
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-reft
        li= link_to 'Pricelists', pricelists_path
        li= link_to 'Items', items_path
      ul.nav.navbar-nav.navbar-right
        - unless current_page?(root_path)
          li= link_to 'Exit', logout_path
