= form_for @item, remote: true do |f|
  - if @item.errors.any?
    #error_explanation
      .alert.alert-danger role="alert" 
        h5
          = pluralize(@item.errors.count, "error")
          | prohibited
          | this item from being saved:
        ol
          - @item.errors.full_messages.each do |msg|
            li= msg
  .col-md-6.col-xs-12
    = f.label :name
    br
    = f.text_field :name, required: true, class: 'form-control item-input'
  .col-md-6.col-xs-12
    = f.label :category
    br
    = f.select :category, options_for_select(Category.all.collect {|p| [ p.name] }), {}, class: "form-control"
  .row
    .col-md-6.col-xs-12
      br
        = link_to 'Back', items_path, class:  'btn btn-primary'
        = f.submit class: 'btn btn-success'
