h1 Chelenge list
= link_to 'Add item', new_item_path, id: "new_item", remote: true, class: 'btn btn-success'
br
.col-xs-12.col-md-12
  table.table.table_hover
    thead
      tr
        th #
        th Name
        th Category
    tbody
      - @items.each do |item|
        tr id='item_#{item.id}'
          td= item.id
          td= item.name
          td= item.category
          td.btn.btn-group
            = link_to 'Edit', edit_item_path(item), class: 'btn btn-xs btn-warning'
            = link_to 'Delete', item_path(item), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'