/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background: linear-gradient(to right, #ffe92c, #f0fbff);
}
a:hover {
  color: red;
}
.header-logo{
  width: 30px;
  height: 30px;
}
.pricelist-logo{
  width: 150px;
  height: 150px;
}

