doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Practika
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900"
  body
    = render 'shared/header'
    .container
      = yield
